html{
    background-color:#151B41;

}
body {
    padding-top:3rem;
}    

#mainDiv {
    border-radius:10px;
    background-color: #88794d ;
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: 35rem;
    
}
.headerDiv {
    align-self: center;
    border-radius:10px;
    background-color: #151B41;
    position:none;
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.headerDivchild {
    width:100px;
    height:30px;
    margin:20px 10px 10px 2px;
}

.tab {
    color: #0099CC; 
	background: transparent; 
	border: 2px solid #0099CC; 
	border-radius: 70px; 
	text-decoration: none;
	text-transform: uppercase; 
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;

}

.tab:hover {
	background-color: #008CBA;
	color: white; 
}

.bodyDiv {
    width:90%;
    height:90%;
    padding-left:2rem;
    margin-top:7rem;
    display:grid;
    grid-template-columns: auto auto auto auto  ;
    grid-template-rows: 15% 30% 30%;

}

/* .bodyDiv > div {
    border: 2px solid;
} */

#div1 {
   
    grid-column:1/4; 
}

#div2 {

    grid-row: 2/4;
    grid-column:1/2;
}

#div3 {
    padding-top: 2rem;
    grid-row: 2/4;
    grid-column:2/3;
}

#div4 {
    grid-row-start: 3;
    grid-column:3/4; 
}

#div5 {
   
    grid-row-start: 2;
    grid-column:3/4;
}


.div div {
    margin:1rem;
}

h1 {
    text-align:left ;
}

h2 {
    margin-top: 0rem;
}

.div1 {
    font-size: x-large;
    font-weight: bold;
   
}

ul {
    font-size: medium;
    font-weight:normal;
}