html{
    background-color:#151B41;

}
body {
    padding-top:3rem;
}    

#mainDiv {
    border-radius:10px;
    background-color: #88794d ;
    height:100%;
    width:100%;
    
    display:grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: 35rem;
}
.headerDiv {
    align-self: center;
    border-radius:10px;
    background-color: #151B41;
    position:none;
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.headerDivchild {
    width:100px;
    height:30px;
    margin:20px 10px 10px 2px;
}

.tab {
    color: #0099CC; 
	background: transparent; 
	border: 2px solid #0099CC; 
	border-radius: 70px; 
	text-decoration: none;
	text-transform: uppercase; 
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;

}

.tab:hover {
	background-color: #008CBA;
	color: white; 
}

.bodyDiv {
    width:80%;
    height:80%;
    padding: 5rem ;
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: 85%;
   
}

#div1 {
    /* border:2px solid; */
    grid-column:1/2; 
    align-self: center;
}

#div2 {
    border:2px solid;
    grid-column:2/3; 
}

